### Application
PORT=3000
DOMAIN=localhost

### Database
DATABASE_HOST=localhost
DATABASE_PORT=5434
DATABASE_DB=note_taking
DATABASE_USER=postgres
DATABASE_PASSWORD=change-me

DATABASE_URL=postgresql://postgres:change-me@localhost:5434/note_taking