<form class="flex flex-col gap-4" (submit)="onSubmit($event)">
  <div appFormField>
    <label appLabel for="new-password">new password</label>
    <input
      appInput
      id="new-password"
      type="password"
      [formField]="resetPasswordForm.newPassword"
      [error]="!!newPasswordError()"
    />

    @if (newPasswordError()) {
      <app-form-error [message]="newPasswordError()!" />
    }
  </div>

  <div appFormField>
    <label appLabel for="confirm-new-password">confirm new password</label>
    <input
      appInput
      id="confirm-new-password"
      type="password"
      [formField]="resetPasswordForm.confirmNewPassword"
      [error]="!!confirmNewPasswordError()"
    />

    @if (confirmNewPasswordError()) {
      <app-form-error [message]="confirmNewPasswordError()!" />
    }
  </div>

  <button class="capitalize" appButton type="submit">reset password</button>
</form>
